* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}
html {
  height: 100%;
}
.App {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;

  
}
:root {
  --color1: #E3913F;
  --color2: #EBB865;
  --color3: #48B0B3;
  --color4: #02979B;
  --color5: #09666C;
  --color6: #014243;
}
/* #D7F2BA #BDE4A8 #9CC69B #79B4A9 #676F54 */